body
{
    background-image:url(image1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
.simple-form
{
    text-align: center;
    margin: 100px 400px;
}
#registration
{
    width:100%;
    background-color: black;
    opacity: 0.8;
    padding: 50px 0px;
}
#button
{
    width:250px;
    padding: 10px;
    border-radius: 5px;
    outline:0px;
}
#ph
{
    outline: 0px;
    width:50px;
    padding: 10px;
    border-radius: 5px;
}
#phone
{
    width:200px;
    padding: 10px;
    border-radius: 5px;
    outline:0px;

}
#rd
{

}
#btn
{
    color: white;
    font-size: 18px;
}
#btnn
{
    width:250px;
    padding: 10px;
    border-radius: 5px;
    outline:0px;
    background-color: blue;
    border: 2px solid black;
    color: aliceblue;
    font-size: 18px;

}
